<!doctype html>
<html lang="en">

<head>
  <title>Event Finder</title>
   <!--Required meta tags -->
  <meta charset="utf-8">
  <link rel="shortcut icon" href="img/Logo.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
   
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="246480850653-20olgfmijst2977ju9feja8rjrsld8u6.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

   
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    #profilePic {
      margin-bottom: 30px;
      width: 150px;
      height: 150px;
      border-radius: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;
      display: inline-block;
      left: center;
    }
  </style>
</head>

<body>
  
  <!--beginning of navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Event Finder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile"><strong>Profile</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://obscure-escarpment-49448.herokuapp.com/">Chat</a>
        </li>
      </ul>
      <!--empty ul to offset ul container for login/logout button-->
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="login-link" class="nav-link">
            <button id="login-btn">Login</button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--end of navbar-->
  <style>
    .card {
      font-family: 'Open Sans', sans-serif;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 500px;
      margin: auto;
      top: 50px;
      text-align: center;
    }
    
    .card2 {
      font-family: 'Open Sans', sans-serif;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: 500px;
      left: 100px;
      top: 100px;
      text-align: center;
    }
  </style>
  <center>
    <div class="card">
      <br>
      <h1>Event Finder Profile</h1>
      <center>
        <img src="" alt="No Picture Available" id="profilePic">
      </center>
      <h3 id="user_name">Name</h1>
      <br>

      <a href="#" style="color:black; font-size:10px;"><i class="fa fa-twitter"></i></a>
      <a href="#" style="color:black; font-size:10px;"><i class="fa fa-google-plus"></i></a>
      <a href="#" style="color:black; font-size:10px;"><i class="fa fa-facebook"></i></a>
      <a href="#" style="color:black; font-size:10px;"><i class="fa fa-calendar"></i></a>
      <br>

</div>
<br><br>

<script>
  var events;
<% if (typeof saved_events !== 'undefined' && saved_events.length > 0) { %>
    events = <%-JSON.stringify(saved_events); %>
    <% } else { %>
    <% console.log("byeeee") %>
    <% } %>
    console.log(events);
</script>

<div style="text-align: left; margin-left: 10%; margin-top: 5%; margin-bottom: 5%;">
    <h4>Saved Events</h4>
</div>
<div>
    <a href="/profile"><button id="show-btn">Show Saved Events</button></a>
</div>

<div style="display: none" class="g-signin2" data-onsuccess="onSignIn"></div>

<% if (typeof saved_events !== 'undefined' && saved_events.length > 0) { %>
  <% for(var i=0; i < saved_events.length; i++) { %>
    
     <div class="card">
        <center>
          <div class="" style="width: 20rem; padding-top: 20px">
          </div>
          <div class="" style="width: 20rem;">
            <div class="card-block">
              <h4 class="card-title"><%= saved_events[i].event_title; %></h4>
              <img class="card-img-top" src=<%= saved_events[i].event_img %> alt="Card image cap">
              <p class="card-text"><%= saved_events[i].event_class %></p>
              <% if (typeof saved_events[i].event_url !== 'undefined') { %>
              <a href=<%= saved_events[i].event_url %>  class="btn btn-primary">Click for more info!</a>
              <% } else { %>
              <p>No info available</p>
              <% } %>
            </div>
          </div>
        </center>
    </div>
  <% } %>
<% } %>

<script>
function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          window.localStorage.setItem("login_info", undefined);
        });
        location.href = '/';
      }
  var new_url = "/profile";
  var user_info = window.localStorage.getItem("login_info");
  console.log("user info");
  console.log(user_info);
      if (user_info === "undefined") {
        console.log("undefined");
        document.getElementById("login-btn").innerText = "Login";
        document.getElementById("user_name").innerHTML = "Please Login";
        document.getElementById("profilePic").src = "";
      } else {
        user_info = JSON.parse(user_info);
        new_url = "/fetch_saved_events" + "?id=" + user_info.id;
        
        console.log(user_info);
        console.log(user_info.first_name);
        document.getElementById("login-btn").innerText = "Logout";
        document.getElementById("user_name").innerHTML = user_info.first_name + " " + user_info.last_name;
        document.getElementById("profilePic").src = user_info.picture;
      }
      
      $("#login-link").click(function() {
        if (user_info === "undefined") {
          location.href = "/";
        } else {
          if (user_info.type == 'facebook') {
            fbLogout();
          } else if (user_info.type == 'google') {
              signOut();
          }
        }
      });
      
      $("#show-btn").click(function(event) {
        event.preventDefault();
        if (user_info === undefined) {
          alert("Please sign in to view your saved events");
        } else {
          location.href = new_url;
        }
      })
      
      
      

</script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>


    <!--Facebook Login Setup Script-->
    <script type="text/javascript" src="/javascripts/facebook-oauth.js"></script>
    
</body>

</html>